body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
.main {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .left {
    background-color: #1d252c;
    width: 50%;
    height: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
  }
  .right {
    width: 50%;
    height: auto;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    text-align: center;
    margin-top: 180px;
  }
  .right > h3 {
    font-weight: 100;
  }
  input {
    width: 300px;
    height: 40px;
    margin: 5px;
    border: 1px solid rgb(211, 210, 210);
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
  }
  #sub {
    color: white;
    background-color: rgb(52, 52, 52);
    height: 50px;
  }
  #sub:hover {
    background-color: black;
  }
  .right > form > p {
    font-size: 12px;
    margin: 0px;
    margin-bottom: 10px;
    padding-left: 150px;
    color: rgb(140, 139, 139);
  }
  .right > p {
    color: rgb(140, 139, 139);
    font-size: 14px;
  }
  .right > div {
    display: flex;
    justify-content: center;
  }
  .right > div > a {
    color: black;
  }
   
  @media screen and (min-width:481px) and (max-width:768px) {
     .main{
        display:grid;
        grid-template-columns: repeat(1,1fr);
     }
     .left {
        background-color: #1d252c;
        width: 100%;
      
        position: inherit;
        display: flex;
        justify-content: center;
     }
     .left>img{
        width: 50%;
     }
      .right {
        width: 100%;
       
        position: inherit;
        
        text-align: center;
        margin-top: 40px;
      }
  }
  @media screen and (min-width:320px) and (max-width:480px) {
    .main{
        display:grid;
        grid-template-columns: repeat(1,1fr);
     }
     .left {
        background-color: #1d252c;
        width: 100%;
       
        position: inherit;
        display: flex;
        justify-content: center;
     }
     .left>img{
        width: 50%;
     }
      .right {
        width: 100%;
      
        position: inherit;
        
        text-align: center;
        margin-top: 50px;
      }
  }
